.dashboard__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem auto;
}
.menu_items {
  display: flex;
  gap: 2rem;
}
.dashboard__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.buttons {
  padding: 1rem 3.5rem;
}
